body{
    background-color: #213346;
    font-family: sans-serif;
    color: white;
}

.head{
    font-weight: bold;
    font-size: 40px;
    /*letter-spacing: 0.55px;*/
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}